@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
}
@font-face {
    font-family:'PassionOne';
    src: url('fontes/Passion_One/PassionOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha/Sriracha-Regular.ttf') format('truetype');
}
header{
    background-color: black;
    height: 200px;
    text-align: center;
}
header > h1{
    color: white;
    padding-top: 50px;
    font-size: 70px;
    font-family: 'PassionOne';
}
header > p{
    color: white;
}
.primeira_estrofe{
    padding-top: 50px; 
    padding-bottom: 60px;
    width: 300px;
    margin: 20px;
}
.primeira_estrofe > p{
    font-family: 'Sriracha';
    font-size: 30px;
}
.segunda_estrofe{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    padding-bottom: 0px;
}

.segunda_estrofe > p{
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    font-family: 'Sriracha';
    font-size: 30px;
    width: 300px;
    padding: 20px;
}

.terceira_estrofe{
    padding-top: 50px; 
    padding-bottom: 60px;
    width: 300px;
    margin: 20px;
}
.terceira_estrofe > p{
    font-family: 'Sriracha';
    font-size: 30px;

}
.quarta_estrofe{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    height: 500px;
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-position: right center;
    padding:30px
}
.quarta_estrofe > p{
    padding: 10px;
    color: white;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.562);
    font-family: 'Sriracha';
    font-size: 30px;
}

.quinta_estrofe{
    padding-top: 50px; 
    padding-bottom: 60px;
    width: 300px;
    margin: 20px;

}
.quinta_estrofe > p{
    font-family: 'Sriracha';
    font-size: 30px;
}
footer{
    padding: 10px;
    background-color: black;
    text-align: center;
}
footer > p{
    color: white;
}